{% extends 'base.html.twig' %}

{% block title %}Home {{ controller_name }}!{% endblock %}
{% block stylesheets %}
    <style>
        .kards {
            background: #{{ team.primaryColor }};
            color: #{{ team.secondaryColor }};
        }
    </style>
{% endblock %}
{% block body %}

    <div class="row">

        <div class="col-6 col-lg-3">
            <div class="pureCss dataLink cursor" data-link="{{ path('teams') }}">
                <div class="front kards white">
                    <img src="{{ team.logo }}" alt="" width="100%">
                </div>
                <div class="back">
                   Retour
                </div>
            </div>

        </div>

        {%  for player in team.players %}

            <div class="col-6 col-lg-3">
                <div class="pureCss dataLink cursor"  data-link="{{ path('player', {'idPlayer': player.idOWL}) }}">
                    <div class="front">
                        <img src="{{ player.headshot }}" alt="" width="100%">
                    </div>
                    <div class="back">
                       <h3>{{ player.name }}</h3>
                    </div>
                </div>
            </div>

        {% endfor %}



        <div class="col-6">
            <div class="kards">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi harum illo nam officiis reiciendis
                rem, tempora! Animi eius, eveniet iusto laboriosam libero maiores maxime rem vero! Illo nostrum
                obcaecati quas.

            </div>
        </div>
        <div class="col-6 col-lg-3">
            <div class="kards white">
                <img src="{{ team.logo }}" alt="" width="100%">
            </div>
        </div>

    </div>

{% endblock %}
